// Place all the styles related to the home_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	text-align: center;
	border-bottom: 1px solid #000000;
	padding: 30px;
}
